@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Please Signup or Login</h2>
<hr/>
@if(User.Identity.IsAuthenticated)
{
  <p> Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit"  class="btn btn-dark" value="Log out"/>
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register", "Account")</p>
  <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}